/* Banner.css */
.banner {
    position: relative;
    height: 448px;
    color: #fff;
    object-fit: contain;
    margin-bottom: 30px;
  }
  
  .banner__image {
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  
  .banner__contents {
    position: absolute;
    bottom: 50px;
    left: 30px;
  }
  
  .banner__title {
    font-size: 3rem;
    font-weight: 600;
  }
  
  .banner__buttons {
    margin-top: 20px;
  }
  
  .banner__button {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.2rem;
    margin-right: 10px;
    background-color: #e50914;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .banner__button:hover {
    background-color: #f40612;
  }
  