/* Footer.css */
.footer {
    background-color: #141414;
    color: #777;
    text-align: center;
    padding: 20px 0;
  }
  
  .footer a {
    color: #e50914;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  