/* Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #141414;
  }
  
  .header__logo {
    width: 100px;
  }
  
  .header__avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  